<!-- Month view -->
<link href="assest/calendar/month.css" rel="stylesheet">
<link href="assest/calendar/week.css" rel="stylesheet">
<link href="assest/calendar/day.css" rel="stylesheet">

<link href="assest/datepick/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

<script src="assest/datepick/js/bootstrap-datetimepicker.min.js"></script>
<script src="assest/calendar/ndatetime-1.4.0.min.js"></script>

<style>

	.menu-fixed{
		width: 100%;
		position: fixed;
		left: 0px;
		bottom: 0px;
  		background-color: #222;
    	border-color: #080808;	
    	padding: 10px;	
	}

</style>

<div class="container">
	<div class="row tab-content">
	  <div class="month-view tab-pane active" role="tabpanel" id="month-view">
			<div class="month">
				<ul>     
					<li class="prev">
						<a href="#"> << </a>
					</li>
					<li class="next">
						<a href="#"> >> </a>
					</li> 
					<li style="margin-left:50px;"> 
						<span class="calendar_month"> - </span>
						<br>
						<span style="font-size:18px" class="calendar_year"> - </span>
					</li> 
				</ul> 

				<ul class="weekdays"> 
					<li>Su</li>
					<li>Mo</li>
					<li>Tu</li>
					<li>We</li>
					<li>Th</li>
					<li>Fr</li>
					<li>Sa</li>
				</ul>

				<ul class="days">

				</ul>

			</div>	  	
	</div> 

	<div class="week-view tab-pane" role="tabpanel" id="week-view">
			<div class="month">
				<ul>     
					<li style="margin-left:50px;"> 
						<span>Week</span>
						<span style="font-size:16px" class="calendar_week"> - </span>
					</li> 
				</ul> 

				<ul class="weekdays"> 
					<li>Su</li>
					<li>Mo</li>
					<li>Tu</li>
					<li>We</li>
					<li>Th</li>
					<li>Fr</li>
					<li>Sa</li>
				</ul>

				<div class="spacer" style="clear: both;"></div>
				<div >
					<ul class="time">
					<?php
						echo time_grid();
					?>
					</ul>
					<ul class="days">
						<?php
							for($i = 0;$i < 7*24 ;$i++){

								$dow = 24*($i%7);
								$hour = round($i/7);

								echo grid('week-hour',$dow+$hour);
							}
						?>
					</ul>
					<div class="spacer" style="clear: both;"></div>
				</div>
				
			</div>	  	
	  </div>


	<div class="day-view tab-pane" role="tabpanel" id="day-view">
			<div class="month">
				<ul>     
					<li style="margin-left:50px;"> 
						<span>TODAY EVENT</span>
					</li> 
				</ul> 

				<ul class="weekdays"> 
					<li>TODAY</li>
				</ul>

				<div class="spacer" style="clear: both;"></div>
				<div >
					<ul class="time">
					<?php
						echo time_grid();
					?>
					</ul>
					<ul class="days">
						<?php
							for($i = 0;$i < 24 ;$i++){
								echo grid('day-hour',$i);
							}
						?>
					</ul>
					<div class="spacer" style="clear: both;"></div>
				</div>
				
			</div>	  	
	  </div>

	</div>

</div>

<script>

	var calendar = {
		month:function(date){

			$.ajax({
				url: base+'ajax/get/month',
				data:{'date':date},
				type: 'get',                   
				dataType: 'json',
				beforeSend: function() {
					loading.show();
				},
				complete: function() {
					loading.hide();
				},
				success: function (json){	

					loading.hide();

					var monthNames = ["January", "February", "March", "April", "May", "June",
					  "July", "August", "September", "October", "November", "December"
					];

			 		html = '';

			 		var month = (ndate.Month);
			 		var year = (ndate.Year);
			 		var day = (ndate.Day);

					$('.calendar_week').html(day-ndate.DayOfWeek+'-'+(day-ndate.DayOfWeek+7));
			 		$('.calendar_month').html(monthNames[month-1]);
			 		$('.calendar_year').html(year);

			 		$.each(json,function(i,month){
			 			$.each(month,function(j,week){
			 				$.each(week,function(k,weekday){	
					 			if(weekday.type == 'blank'){
					 				html=html+'<li></li>'; 
					 			}else if(weekday.type == 'event'){
					 				html=html+'<li class="event"> '+weekday.day;
					 				console.log(week.event);
					 				$.each(weekday.event,function(l,event){
					 					html=html+'<p class="list" onclick="calendar.event('+event.event_id+')" data-event="'+(event.event_id%3)+'">'+event.topic+'</p>'; 	
					 				});
					 				html=html+'</li>'; 
					 			}else if(weekday.type == 'today'){
					 				html=html+'<li class="active"> '+weekday.day+' </li>'; 
					 			}else if(weekday.type == 'both'){
					 				html=html+'<li class="active"> '+weekday.day;
					 				console.log(week.event);
					 				$.each(weekday.event,function(l,event){
					 					html=html+'<p class="list" onclick="calendar.event('+event.event_id+')" data-event="'+(event.event_id%3)+'">'+event.topic+'</p>'; 	
					 				});
					 				html=html+'</li>'; 
					 			}else{
					 				html=html+'<li>'+weekday.day+' </li>'; 
					 			}
					 		});
			 			});
			 		});

			 		$('.month-view .days').html(html);

				}
			});

		},
		week:function(date){
			$.ajax({
				url: base+'ajax/get/week',
				data:{'date':date},
				type: 'get',                   
				dataType: 'json',
				beforeSend: function() {
					$('.week-hour').html('');
					loading.show();
				},
				complete: function() {
					loading.hide();
				},
				success: function (json){	
					loading.hide();
					$.each(json.calendar,function(i,week){
						$.each(week,function(j,event){
							$('.week-hour[data-id="'+i+'"]').append('<div class="list" data-event="'+(event.event_id%3)+'">'+event.topic+'</div>');
						});
					});
				}
			});

		},
		day:function(date){
			$.ajax({
				url: base+'ajax/get/day',
				data:{'date':date},
				type: 'get',                   
				dataType: 'json',
				beforeSend: function() {
					$('.day-hour').html('');
					loading.show();
				},
				complete: function() {
					loading.hide();
				},
				success: function (json){	
					loading.hide();
					$.each(json.calendar,function(i,week){
						console.log(week);
						$.each(week,function(j,event){
							$('.day-hour[data-id="'+i+'"]').append('<div class="list" data-event="'+(event.event_id%3)+'">'+event.topic+'</div>');
						});
					});					
				}
			});
		},
		event:function(id){
			$.ajax({
				url: base+'ajax/get/event',
				data:{'id':id},
				type: 'get',                   
				dataType: 'json',
				beforeSend: function() {
					loading.show();
				},
				complete: function() {
					loading.hide();
				},
				success: function (json){	
					loading.hide();	
					$('#title-event').val(json.calendar.topic);
					$('#start-event').val(json.calendar.event_start);	
					$('#end-event').val(json.calendar.event_end);		
					$('#detail-event').val(json.calendar.content);	

					$('#action-event').val('update');
					$('#event-id-event').val(json.calendar.event_id);

					$('#event-add').modal('show')		
				}
			});
		}
	}

 	var ndate = new NDateTime.Now();
 	var view = 'month';

 	$(document).ready(function(){

		calendar.month(ndate.ToString('yyyy-MM-dd'));

		$('.next').on('click',function(){
			ndate = ndate.AddMonths(1);
			calendar.month(ndate.ToString('yyyy-MM-dd'));
		});

		$('.prev').on('click',function(){
			ndate = ndate.AddMonths(-1);
			calendar.month(ndate.ToString('yyyy-MM-dd'));
		});

		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		 	var type = $(this).attr('data-load');

		 	switch(type){
		 		case 'month':
		 			calendar.month(ndate.ToString('yyyy-MM-dd'));
		 			view = 'month';
		 		break;
		 		case 'week':
		 			calendar.week(ndate.ToString('yyyy-MM-dd'));
		 			view = 'week';
		 		break;
		 		case 'day':
		 			calendar.day(ndate.ToString('yyyy-MM-dd'));
		 			view = 'day';
		 		break;
		 	}
		});

    	$('[type="datetime"]').datetimepicker({
    		format: 'yyyy-mm-dd hh:00',
    		minuteStep: 60,
    		minView:1,
    		autoclose:true,
		});

    	$('.insert-modal').on('click',function(){
    		$('#action-event').val('insert');
    	});

		$("#event-from").submit(function(e) {

		 e.preventDefault();

   		 $.ajax({
           type: "POST",
           url: $(this).attr('action'),
           data: $(this).serialize(), // serializes the form's elements.
		   beforeSend: function() {
		   		$('#event-add').modal('hide')
				loading.show();
		   },
		   complete: function() {
				loading.hide();
		   },           
           success: function(data)
           {

			   switch(view){
			 		case 'month':
			 			calendar.month(ndate.ToString('yyyy-MM-dd'));
			 			view = 'month';
			 		break;
			 		case 'week':
			 			calendar.week(ndate.ToString('yyyy-MM-dd'));
			 			view = 'week';
			 		break;
			 		case 'day':
			 			calendar.day(ndate.ToString('yyyy-MM-dd'));
			 			view = 'day';
			 		break;
			   }

           }
         });

		});

 	});


</script>

<div class="modal fade" id="event-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Event</h4>
      </div>
      <form id="event-from" action="<?php echo base('action/event'); ?>" method="post">
	      <div class="modal-body">
		      	 
	      		 <input name="action" id="action-event" value="insert" type="hidden">
	      		 <input name="event_id" id="event-id-event" value="insert" type="hidden">

		      	 <label for="title">Title : </label>
		         <input class="form-control" name="title" id="title-event" type="text" placeholder="Title">
		         <label for="start">Event start : </label>
		         <input class="form-control" name="start" id="start-event" type="datetime">

		         <label for="end">Event End : </label>
		         <input class="form-control" name="end" id="end-event" type="datetime">

				 <label for="privacy">Privacy : </label>	         
				 <select class="form-control" name="privacy" id="privacy">
				 	<option value="public">Public</option>
				 	<option value="private">Private</option>
				 </select>

		         <label for="detail">Detail : </label>
		         <textarea class="form-control" name="detail" id="detail-event" placeholder="Describe here..."></textarea>

	      </div>
	      <div class="modal-footer">
		         <input type="submit" class="btn btn-primary btn-submit" value="Save">
	      </div>
      </form>
    </div>
  </div>
</div>


<div class="menu-fixed">
	<a class="btn btn-primary" role="tab" data-toggle="tab" data-load="month" href="#month-view">month</a>
	<a class="btn btn-primary" role="tab" data-toggle="tab" data-load="week" href="#week-view">week</a>
	<a class="btn btn-primary" role="tab" data-toggle="tab" data-load="day" href="#day-view">day</a>
	[<a href="#" data-toggle="modal" class="insert-modal" data-target="#event-add" style="color:#fff300 !important;">New Event</a>]
</div>