
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Dashboard
                    <small>legendary BLOG</small>
                </h1>

                <!-- Blog Post -->
                <?php
                  foreach($post['list'] as $v){
                    echo index_post($v);
                  }
                ?>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="<?php echo base('post/all'); ?>">more &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <form action="<?php echo base('post/search'); ?>" method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </form>
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                <?php
                                  foreach($category as $v){
                                    echo '<li><a href="'.base('category/'.$v->category_id).'">'.$v->category_name.'</a></li>';
                                  }
                                ?>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <div>
                    <?php 
                        if($user->is_login() == true){
                            echo '<a href="'.base('member/post').'" class="btn btn-primary btn-block btn-post">NEW POST</a>';
                        }
                    ?>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
