/* Days (1-31) */
.days {
    float:left;
    padding: 10px 0;
    background: #eee;
    width: 1100px;
    margin-left:100px;
}

.day-view .days li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    font-size:12px;
    color:#777;
    height: 28px;
    vertical-align: top;
    border: 1px #556565 solid;
}

.day-view li .list{
    width: 100px;
    margin-left:2.5px;
    margin-right: 2.5px;
    float: left;
    height: 20px;
    overflow: hidden;
}

.day-view li .list[data-event="0"] {
    color: white !important;
    background: #f93822;
}

.day-view li .list[data-event="1"] {
    color: white !important;
    background: #222222;
}

.day-view li .list[data-event="2"] {
    color: #333 !important;
    background: #1ff935;
}
