ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 10px 0px;
    width: 1200px;
    margin:auto;
    background: #1abc9c;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.month-view .weekdays {
    width: 1200px;
    margin:auto;
    padding: 10px 0;
    background-color:#ddd;
}

.month-view .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.month-view .days {
    padding: 10px 0;
    background: #eee;
    width: 1200px;
    margin:auto;
}

.month-view .days li {
    list-style-type: none;
    display: inline-block;
    width: 14.25%;
    font-size:12px;
    color:#777;
    height: 100px;
    vertical-align: top;
    border: 1px #556565 solid;
}

/* Highlight the "current" day */
.month-view .active {
    background: #bbff2c;
    color: black !important
}

.month-view li p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.month-view li a{
    color: #666464;
    text-decoration: none;
}

.month-view li a{
    color: white !important;
    text-decoration: none;
}

.month-view li .list{
    overflow-x:hidden;
    height:20px;
}

.month-view li .list[data-event="0"] {
    color: white !important;
    background: #f93822;
}

.month-view li .list[data-event="1"] {
    color: white !important;
    background: #222222;
}

.month-view li .list[data-event="2"] {
    color: #333 !important;
    background: #1ff935;
}

