ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Weekdays (Mon-Sun) */
ul.weekdays {
    width: 1100px;
    margin-left:75px;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.time{
    float: left;
}

/* Days (1-31) */
.days {
    float:left;
    padding: 10px 0;
    background: #eee;
    width: 1100px;
    margin-left:100px;
}

.week-view .days li {
    list-style-type: none;
    display: inline-block;
    width: 14.25%;
    font-size:12px;
    color:#777;
    height: 28px;
    vertical-align: top;
    border: 1px #556565 solid;
}

.week-view li .list{
    width: 45px;
    margin-left:2.5px;
    margin-right: 2.5px;
    float: left;
    height: 20px;
    overflow: hidden;
}

.week-view li .list[data-event="0"] {
    color: white !important;
    background: #f93822;
}

.week-view li .list[data-event="1"] {
    color: white !important;
    background: #222222;
}

.week-view li .list[data-event="2"] {
    color: #333 !important;
    background: #1ff935;
}
