
<link href="assest/boostrap_theme/css/singin.css" rel="stylesheet">

<div class="container">
  <form class="form-signin" method="POST" action="<?php echo base('action/login'); ?>">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputusername" class="sr-only">Student ID</label>
    <input name="username" type="text" id="inputusername" class="form-control first" placeholder="Student ID" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control last" placeholder="Password" required="">
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    
    <br>

    <a class="btn btn-lg btn-success btn-block" href="<?php echo base('register'); ?>">Sign up</a>

  </form>
</div> <!-- /container -->
