<!-- include summernote css/js-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>


<div class="container">
    <div class="row">
		<div class="col-md-12">
           	<h1 class="page-header">
             	New<small>POST</small>
            </h1>
			<form action="<?php echo base('action/post/update');?>" method="POST" enctype="multipart/form-data" onsubmit="return postForm()">
				<input type="text" style="font-size: 25px;height: 50px;" name="topic" class="form-control" placeholder="Topic" value="<?php echo $post->topic; ?>">
				<hr>
				<input type="hidden" name="post_id" value="<?php echo $post->post_id; ?>">
				<textarea id="summernote" name="content" rows="18">
					<?php echo $post->content; ?>
				</textarea>
				<hr>

				<input type="hidden" name="cover" value="<?php echo $post->cover; ?>">
				<div class="form-group col-sm-12">
					<span class="col-sm-2 control-label">Post image Cover :</span>
					<div class="col-md-2">
						<label class="btn btn-default btn-file">
						    Browse <input type="file" name="cover" style="display: none;">
						</label>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<span class="col-sm-2 control-label">Post category :</span>
					<div class="col-sm-10">
						<?php echo category_option($post->category); ?>
					</div>
				</div>

				<div class="form-group col-sm-12">
					<span class="col-sm-2 control-label">Comment :</span>
					<div class="col-md-2">
						<input type="checkbox" name="comment" value="public" <?php if($post->comment_setting == 'public') echo 'checked'; ?>>
					</div>
				</div>

				<div class="form-group col-sm-12">
					<span class="col-sm-2 control-label">Public :</span>
					<div class="col-md-2">
						<input type="checkbox" name="privacy" value="public" <?php if($post->privacy == 'public') echo 'checked'; ?>>
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Save</button>

				<a href="<?php echo base('action/post/delete?post_id='.$post->post_id); ?>" class="btn btn-danger"> Delete </a>
			</form>
		</div>
	</div>
</div>

<script>
   $('#summernote').summernote({
            height: 500,
            callbacks: {
                onImageUpload: function(image) {
                    uploadimage(image[0]);
                }
            }
        });

        function uploadimage(image) {
            var data = new FormData();
            data.append("image", image);
            $.ajax({
                url: base+'action/uploadimage',
                cache: false,
                contentType: false,
                processData: false,
                data: data,
                type: "post",
                success: function(url) {
                    var image = $('<img>').attr('src',url);
                    $('#summernote').summernote("insertNode", image[0]);
                },
                error: function(data) {
                    console.log(data);
                }
            });
        }

var postForm = function() {
	var content = $('textarea[name="content"]').html($('#summernote').code());
}
</script>