
<link href="assest/boostrap_theme/css/singin.css" rel="stylesheet">

<div class="container">
  <form class="form-signin" method="POST" action="<?php echo base('action/register'); ?>">
    <h2 class="form-signin-heading">Please sign up</h2>

    <label for="inputusername" class="sr-only">Name</label>
    <input name="name" type="text" id="inputname" class="form-control first" placeholder="Name" required="" autofocus=""> 

    <label for="inputgender" class="sr-only">Gender</label>
    <select class="form-control" name="gender">
        <option>male</option>
        <option>female</option>
    </select>

    <br>

    <label for="inputusername" class="sr-only">Username</label>
    <input name="username" type="text" id="inputusername" class="form-control" placeholder="Username" required=""> 
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <label for="inputPassword_c" class="sr-only">Confirm Password</label>
    <input name="password_confirm" type="password" id="inputPassword_c" class="form-control last" placeholder="Confirm password" required="">

    <br>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>  
  </form>
</div> <!-- /container -->
